
body {
  margin: 0 auto;
  padding: 4em;
  background-color: rgb(210, 230, 255);
}

/* header image */
.header {
  color: white;
  /*for some reason the path to this image would not work on my computer, so I did an external link*/
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

/* typography */

.header {
  text-align: center;
  color: white;
}

.body {
  text-align: center;
  color: rgb(0,50,100)
}

h2, h3, h4 {
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

h3, h2 {
  font-size: 40px;
}

p, ul, .footer {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 900;
  font-family: 'Merriweather', serif;
  font-size: 40px;
  padding-top: 20px;
}

p {
  margin-top: 0px;
  margin-bottom: 40px;
}

h2 {
  font-weight: 700;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  color: white;
}

h4 {
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 0px;
}

ul {
    list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

hr {
  border-color: rgb(0,50,100);
  max-width: 300px
}

/* footer */

.footer li {
  float: left;
}

.footer a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

a:hover {
  color: grey;
}

#footer_copyright {
  display: block;
  padding: 10px;
  color: white;
}





/*
font-family: 'Open Sans', sans-serif;
font-family: 'Merriweather', serif;
